@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #17153B;
    display: grid;
    /* justify-content: center;
    align-items: center; */
}
/* Below here is style for index.html */
.login-box{
    background-color: #C8ACD6;
    width: 400px;
    padding: 20px;
    border-radius: 16px;
    align-self: center;
    justify-self: center;
}
h2{
    color: #2E236C;
}
/* Style for form when inactive (TRANSISISI MASIH KASAR)*/
.form-container{
    opacity: 0;
    position: absolute;
    pointer-events: none;
    flex-direction: column;
    gap: 10px;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
/* style for form when active */
.form-container.active{
    opacity: 1;
    position: relative;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(0px);
}
.name{
    display: flex;
    gap: 10px;
}
.input-user{
    position: relative;
}
/* Style for input box */
.input-user input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
/* Style for password eye simbol */
.input-user .material-symbols-outlined{
    color: #666666;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}
/* Style for transisition when input box filled*/
.input-user label, input{
    transition: 0.4s ease;
}
/* Style for label*/
.input-user label{
    position: absolute;
    left: 10px;
    top: 17px;
    cursor: text;
    font-size: small;
    color: #666666;
}
/* Style for size input box when filled */
.input-user input:not(:placeholder-shown), .input-user input:focus{
    height: 60px;
    padding-bottom: 0px;
}
/* Style for moving label when input box filled */
.input-user input:not(:placeholder-shown) ~ label, .input-user input:focus ~ label{
    transform: translate(0px, -10px);
}
/* Style for transparent placeholder, so only label shown in input box */
.input-user input::placeholder{
    opacity: 0;
}
/* Style for not display browser default password eye toggle */
.input-user input::-ms-reveal,
.input-user input::-ms-clear,
.input-user input::-webkit-clear-button,
.input-user input::-webkit-password-toggle{
    display: none;
}
.input-user p{
    font-size: 0;
    color: #2E236C;
    transition: 0.3s;
}
.input-user input:not(:placeholder-shown) ~ .password-req{
    font-size: small;
    margin-top: 5px;
}
form > button{
    background-color: #2E236C;
    color: white;
    font-size: small;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
form > button:hover{
    background-color: #2e236c71;
}
.page-link{
    display: flex;
    font-size: small;
    margin-top: 10px;
    gap: 5px;
}
.page-link div{
    background-color: transparent;
    color: #2E236C;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
}
.page-link div:hover{
    color: #2e236c71;
}

/* Below here is style for home.html */
